<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ng-href="#/">Home</a></li>
        <li><a data-ng-href="#boot">Boot</a></li>
        <li><a data-ng-href="#strap">Strap</a></li>
        <li><a data-ng-href="#video">FlashVideo</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <!--<li>Current date: {{ date | date:'yyyy-MM-dd' }}</li>-->
      </ul>
    </div>
  </div>
</nav>
