<div data-ng-controller="VideoCtrl" class="container active">
    <div ng-include="'app/components/navbar/navbar.html'"></div>

    <h2>Responsive flash 2video</h2>

    <div class=" active">
        <div class="embed-responsive embed-responsive-16by9 ">
            <!--<div class="embed-responsive embed-responsive-16by9 hidden-xs">-->
            <iframe src="https://www.youtube.com/embed/oAPdNKTrBYA"  allowfullscreen></iframe>
        </div>
    </div>
    <img class="img-responsive img-circle"
    src="http://dev.jackpotland.com/assets/images/game-pods/Layer%202000636.png">
</div>
