.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

html {
  overflow-y: scroll;
  overflow: -moz-scrollbars-vertical;
}

@media screen and (max-width: 368px) {
  img.smallResolution{
    min-height: 150px;
  }

}

div {
//    background-color: rgba(0,250,250,0.1);
//    background-color: #d2f590;
//    background-color: red;
//    border: 1px solid rgba(0,230,220,0.4);
//    border: 1px solid black;
//    border: 1px solid rgba(10,100,100);
//  background-color:rgba(0,250,220,0.4);
}

.col-md-8, .col-md-1, .col-md-6,.col-md-4, .col-xs-1, .col-xs-4, .col-xs-6,.col-xs-8, .col-sm-6, .col-sm-9  {
  background-color: rgba(0,250,10,0.2)!important;
  border: 1px solid rgb(0,250,100);
}

.col-sm-4, .col-md-9, .col-md-push-3,.col-md-3, .span2, .span10, .col-xs-9, .col-md-pull-9 {
  background-color: rgba(0,250,250,0.2)!important;
  border: 1px solid rgb(0,250,250);
}


